@import "../../variables";

a.mapbox-maplogo {
  left: 1em;
  bottom: 2em;
}
div.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  left: 1em;
  white-space: nowrap;
  background: transparent;
}

.popupHighlight {
  height: $highlight-size;
  width: $highlight-size;
  position: absolute;
  border-radius: $highlight-size;
  border: 3px solid white;
}

@media (min-device-width: $mobile-breakpoint) {
  a.mapbox-maplogo {
    bottom: 24px + $line-chart-height;
  }

  div.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    bottom: 4px + $line-chart-height;
  }
}
