@import "../app/variables";

.overlay {
  padding: 0.8em;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  position: absolute;
  left: 0; right: 0;
  z-index: 1;
  display: flex;

  form {
    width: 100%;
    display: inline-block;
    flex: 1;
    flex-basis: 0;
    margin-left: 25px; margin-right: 25px;
    text-align: center;
  }

  .logo {
    display: none;
  }

  .textBar {
    height: $search-height;

    div {
      margin-left: 0.8em;
      height: 100%;
      display: table;

      span {
        display:table-cell;
        vertical-align:middle;
        color: grey;
      }
    }

    input {
      margin-right:  $search-height/2;
      width: 10px;
    }
  }

  a {
    color: white;
  }

  a:hover {
    color: $light-grey;
  }

  a.icon {
    margin: 0.25em;
  }

  @media (min-device-width: $mobile-breakpoint) {
    padding: 0;
    border-bottom-style: none;

    form {
      margin-top: 4vh;
    }

    a.icon {
      display: inline-block;
      margin-top: 30px;
      margin-left: 25px;
    }

    a.tweetBar {
      display: none;
    }

    .textBar {
      max-width: $search-width;
    }

    .logo {
      display: inherit;
      width: 104px;
      height: (281 / 308) * 104px;
      margin-top: 30px;
      margin-right: 25px;
    }
  }
}
