@import "variables";

/* The left navigation menu */
.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0px; /* 0 width - expanded with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.1s;
    text-align: center;

    .mega-octicon {
      color: white;
      margin-top: 1em;
    }

    a:hover .mega-octicon {
      color: $light-grey;
    }
}

.Popover {
  position: relative;
  z-index: 3;
}

.Popover-body {
  display: inline-flex;
  flex-direction: column;
  padding: 0.8rem;
  background: hsl(0, 0%, 27%);
  color: white;
  border-radius: 0.3rem;
}

.Popover-tipShape {
  fill: hsl(0, 0%, 27%);
}

.searchPopover .textBar {
  height: 30px;

  input {
    font-size: 0.8em;
    margin-right: 1em;
  }
}

.ReactModal__Overlay {
  z-index: 5;
  background-color: black;
}

.ReactModal__Content {
  margin: auto;
  width: 500px;
  height: 250px;

  h1 {
    margin: 0;
  }

  .textBar {
    border-right-style: none;
    height: 32px;
    max-width: 432px;

    margin-top: 2.5rem;

    button {
      padding-left: 1.5em; padding-right: 2em;
      border-color: $light-grey;
      background-color: white;
      border-width: 1px;
      border-top-right-radius: 100px; border-bottom-right-radius: 100px;
      outline: none;
    }
  }

  .socialBar {
    margin-top: 2em;
    .icon {
      margin-right: 0.8em;
    }
  }
}

.switch {
  position: absolute;
  top: 2.8rem;
  right: 2.5rem;

  p {
    display: inline-block;
    margin-right: 1em;
  }
}
