$sidebar-min-width: 288px;
$nav-width: 80px;
$bottom-bar-height: 64px;

$search-width: 400px;
$search-height: 40px;

$map-background: #2c2c2c;
$light-grey: #d3d3d3;

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

dash {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  nav {
    min-width: $nav-width;
    background-color: black;
  }

  main {
    position: relative;
    flex-grow: 5;
    flex-basis: 0;
    height: 100%;
  }
}



map {
  display: flex;
  flex-direction: column;
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: $map-background;

  form {
    width: 200px;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    z-index: 1;

    .input-group {
      margin-top: 4vh;
      width: $search-width;
      height: $search-height;

      input, span {
        border-style: none;
        background-color: white;
        border-radius: $search-height/2;
      }
    }
  }

  #mapChart {
    width: 100%;
    height: 100%;
  }

  #lineChart {
    width: 100%;
  }

  #legend {
    list-style-type: none;
    width: 100%;
    min-height: $bottom-bar-height;
    background-color: white;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

    li {
      height: $bottom-bar-height
    }

    .notTitle :hover {
      background-color: $light-grey;
    }
  }
}

.legendItem {
  min-width: 70px;
  height: $bottom-bar-height;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;

  .legendLabel {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }

  .legendBlock {
    flex: 1;
    height: 100%;
  }

  .greyed {
    background-color: white;
    filter:alpha(opacity=70); /* IE */
    opacity: 0.7; /* Safari, Opera */
    -moz-opacity:0.70; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  p {
    font-size: 0.9em;
    margin: 5px;
  }
}

.tweetResults {
  flex-grow: 1;
  flex-basis: 0;
  min-width: $sidebar-min-width;

  display: flex;
  flex-direction: column;
  border-bottom-style: solid;

  .tweetTitle {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $light-grey;

    h3 {
      margin: 1rem;
    }
  }

  ul {
    list-style-type: none;
    flex: 1;
    overflow-y: scroll;

    li {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-color: $light-grey;
    }

    li :hover {
      background-color: #f5f8fa;
    }
  }

  .tweetFooter {
    height: $bottom-bar-height;
    text-align: center;

    border-top-style: solid;
    border-top-width: 1px;
    border-color: $light-grey;

    p {
      line-height: $bottom-bar-height;
    }
  }
}

.tweetItem {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 0.9em;
  line-height: 1.4em;

  .tweetImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 0.8rem;
  }

  .tweetBlock {
    flex: 1;
  }
}

.octicon-three-bars {
  position: fixed;
  left: 25px;
  top: 30px;
  z-index: 2;
  color: white;
}

a:hover .octicon-three-bars {
  color: $light-grey;
}

/* The side navigation menu */
.nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.1s; /* 0.5 second transition effect to slide in the nav */
    text-align: center;

    .mega-octicon {
      color: white;
      margin-top: 1em;
    }

    a:hover .mega-octicon {
      color: $light-grey;
    }
}
