@import "variables";

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

dash {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  nav {
    min-width: $nav-width;
    background-color: black;
  }

  main {
    flex-grow: 11;
    height: 100%;
    transition: 0.5s;
  }

  .tweetResults {
    width: 0;
    transition: 0.5s;

    @media (min-width: 992px) {
      flex-grow: 1;
      width: $sidebar-min-width;
    }
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;

  map {
    flex: 1;
    width: 100%;
  }

  #legend {
    width: 100%;
    height: $bottom-bar-height;
  }
}

map {
  background-color: $map-background;
  position: relative;

  container {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  #mapChart {
    width: 100%;
    height: 100%;
  }

  #bottomOverlay {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    pointer-events: none;

    button {
      background-color: white;
      width: 4em;
      height: 4em;
      border-radius: 2em;
      border-style: none;
      margin-right: 1em;
      margin-bottom: 2em;
      margin-left:auto;
      outline: none;

      pointer-events: all;
    }
  }

  #lineChart {
    width: 100%;
    height: $line-chart-height;
    transition: 0.3s;
    @media (max-width: 992px) {
      height: 0;
    }
  }



  #background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $line-chart-height;
    background-color: $light-grey;
    opacity: 0.3;
    transition: 0.3s;
    @media (max-width: 992px) {
      height: 0;
    }
  }
}

h1 {
  font-size: 1.5em;
  margin: 1rem;
}

.textBar {
  margin: 0 auto;
  background-color: white;
  border-radius: 100px;
  display: flex;

  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;

  input {
    border-style: none;
    outline: none;
    margin-left: 1em;
    flex: 1;
    box-sizing: border-box;
    font-size: 1em;
  }
}

a.mapbox-maplogo, div.mapboxgl-ctrl-attrib {
  left: 20px;
  right: auto;
  z-index: 0;
}
