$sidebar-width: 12em;
$nav-width: 5em;
$bottom-bar-height: 4em;
$search-width: 25em;
$search-height: 2.5em;
$pill-height: 1.5em;
$map-background: #2c2c2c;
$light-grey: #d3d3d3;
$light-blue: #f5f8fa;
$blue-main: #27aeef;
$line-chart-height: 100px;
$mobile-breakpoint: 992px;
$highlight-size: 20px;
